.header {
  padding-top: 50px;
  padding-bottom: 90px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
  }

  &-signin {
    font-weight: 500;
    color: $heading-color;
  }

  &-signup {
    font-weight: 500;
    color: $primary-color;
    padding: 13px 45px;
    border-radius: 100rem;
    border: 1px solid;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 40px;
  &-link {
    color: inherit;
  }
}
